@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #fff;
}

div {
  font-family: Shizuru, sans-serif;
}
